.counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__value {
		font-size: 18px;
		font-style: italic;
		font-weight: 500;
	}

	&__controls {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin: 10px;
	}

	&__control-btn {
		list-style-type: none;
		margin: 0 10px;
		padding: 0.5rem;
		border: solid 1px #975050;
	}
}
