<section class="user-card-container">
	<h2>Задание 2: User Card Component</h2>
	<p>
		Изучение &#64;Input и &#64;Output декораторов для взаимодействия между
		компонентами
	</p>

	<div class="theory">
		<h3>Теория:</h3>
		<ul>
			<li>&#64;Input() - получение данных от родительского компонента</li>
			<li>&#64;Output() - передача событий родительскому компоненту</li>
			<li>EventEmitter для создания кастомных событий</li>
			<li>Property binding и Event binding</li>
		</ul>
	</div>

	<div class="practice">
		<h3>Практика:</h3>

		<div class="user-cards">
			<div class="controls">
				<button type="reset" (click)="resetUserList()">Reset user-list</button>
				<button type="button">Edit selected user</button>
			</div>
			@for (user of userList; track user.id) {
				<app-user-card-item
					[setUser]="user"
					(clickedCard)="selectUser($event)"
					(deletedCard)="deleteUser($event)"
				/>
			}
			<div
				class="selected-user"
				*ngIf="selectedUser !== undefined; else unselected"
			>
				<h3>Selected user info</h3>
				<p class="selected-user__info-line">
					<span>ID:</span>
					<span>{{ selectedUser.id }}</span>
				</p>
				<p class="selected-user__info-line">
					<span>Name:</span>
					<span>{{ selectedUser.name }}</span>
				</p>
				<p class="selected-user__info-line">
					<span>Email:</span>
					<span>{{ selectedUser.email }}</span>
				</p>
			</div>
			<ng-template #unselected> User wasn't selected </ng-template>
		</div>
	</div>
</section>
