.controls {
	justify-self: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	button {
		padding: 10px;
	}
}

.user-card-item {
	z-index: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 7px 2px 4px #0000001a;
	transition: all ease 0.3s;

	&:hover {
		opacity: 0.8;
		box-shadow: none;
		cursor: pointer;
	}
}

.delete-btn {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

.selected-user {
	place-self: center;
}
